################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimplestWinFormsSample/SimplestWinFormsSample.csproj.user
